@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*
    TRIANGLE MIXIN
*/
main .impact-boxes {
  margin-top: 5%;
  width: 100%;
  padding: 5em 15em;
  background: rgba(0, 0, 0, 0.03); }
  main .impact-boxes .item {
    text-align: center; }
    main .impact-boxes .item .icon {
      font-size: 100pt;
      color: #1485ee; }
    main .impact-boxes .item .title-of-box {
      font-weight: 600;
      font-size: 30pt;
      padding: 4px 0;
      margin: 15px 0; }
    main .impact-boxes .item .description-of-box {
      font-size: 15pt;
      font-weight: 600;
      color: #7d8285; }

main .post-contents {
  padding: 3% 10%;
  margin: 5% 0;
  background-color: rgba(0, 0, 0, 0.03); }
  main .post-contents .single-post {
    padding: 3.5em 1.5em;
    padding-bottom: 1em; }
    main .post-contents .single-post h1 {
      position: absolute;
      z-index: 1;
      font-size: 60px;
      font-size: 3.75rem;
      font-style: italic;
      font-weight: 700;
      color: #f0f9ff;
      opacity: .75;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
      padding: 2% 5%; }
      main .post-contents .single-post h1 ul {
        list-style: none; }
        main .post-contents .single-post h1 ul li a {
          cursor: default; }
    main .post-contents .single-post .post-image {
      position: relative;
      height: 300px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      -webkit-box-shadow: inset 0px 0px 150px 15px rgba(0, 0, 0, 0.8);
      box-shadow: inset 0px 0px 150px 15px rgba(0, 0, 0, 0.8); }
      main .post-contents .single-post .post-image a img {
        width: 100%;
        height: 300px;
        float: left;
        border-radius: 5px; }
    main .post-contents .single-post .post-content {
      margin-left: 2%;
      margin-right: 2%; }
      main .post-contents .single-post .post-content .post-header {
        width: 100%;
        position: relative; }
        main .post-contents .single-post .post-content .post-header img {
          position: relative;
          top: -2em;
          max-width: 40%;
          height: auto;
          margin-left: 2%; }
      main .post-contents .single-post .post-content .post-title {
        text-decoration: none;
        font-style: italic;
        font-size: 28px;
        font-size: 1.75rem;
        margin-left: 4%; }
        main .post-contents .single-post .post-content .post-title a {
          text-decoration: none;
          color: black; }
          main .post-contents .single-post .post-content .post-title a:hover {
            color: #215299; }
      main .post-contents .single-post .post-content p {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 27px;
        text-align: left;
        margin-left: 4%;
        color: #7d8285;
        min-height: 150px; }
      main .post-contents .single-post .post-content .transparent-bg-btn {
        position: absoute;
        bottom: 0;
        left: 0;
        border: 2px solid rgba(0, 0, 0, 0.03);
        border-radius: 4px;
        text-decoration: none;
        text-align: center;
        color: #268fdc;
        font-weight: 600;
        font-size: 20px;
        font-size: 1.25rem;
        font-style: italic;
        padding: 10px 40px; }
        main .post-contents .single-post .post-content .transparent-bg-btn:hover {
          color: #268fdc;
          border-color: #268fdc;
          -webkit-transition: all .5s ease-in-out;
          -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out; }

main .newsletter {
  margin: 5em 0;
  padding: 0; }
  main .newsletter .newsletter-content .title {
    color: #7d8285;
    background-color: rgba(0, 0, 0, 0.03);
    text-align: center;
    padding: 30px 6%; }
    main .newsletter .newsletter-content .title .fa {
      color: #1485ee;
      font-size: 7em; }
    main .newsletter .newsletter-content .title h1 {
      font-weight: 700;
      font-size: 40px;
      text-align: center; }
  main .newsletter .newsletter-content .triangle {
    background-color: #1182ec;
    background-color: rgba(20, 133, 238, 0.8);
    content: '';
    display: block;
    position: relative;
    height: 0;
    width: 0;
    border-top: 10.4rem solid transparent;
    border-bottom: 10.4rem solid transparent;
    border-left: 10.4rem solid #f8f8f8; }
  main .newsletter .newsletter-content .info {
    padding: 5% 2%;
    text-align: left;
    background-color: #1182ec;
    background-color: rgba(20, 133, 238, 0.8);
    color: #f8f8f8; }
  main .newsletter .newsletter-content .triangle-2 {
    background-color: #1485ee;
    background-color: #1485ee;
    content: '';
    display: block;
    position: relative;
    height: 0;
    width: 0;
    border-top: 10.4rem solid transparent;
    border-bottom: 10.4rem solid transparent;
    border-left: 10.4rem solid #439DF1; }
  main .newsletter .newsletter-content .submit {
    background-color: #1485ee;
    color: #f8f8f8;
    padding: 70px; }
    main .newsletter .newsletter-content .submit .btn {
      background-color: #f8f8f8;
      color: #7d8285;
      font-weight: 600;
      width: 50%; }

.wrapper {
  margin-top: 2%;
  padding: 0;
  height: 60vh; }
  .wrapper .image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    margin: 0; }
    .wrapper .image .title-header {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 40%; }
      .wrapper .image .title-header .title {
        font-size: 90px;
        font-size: 5.625rem;
        font-weight: 600;
        padding-left: 3%;
        color: #f0f9ff;
        opacity: .75;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); }
    .wrapper .image .col-3 {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 70%;
      top: 40%;
      text-align: right; }
      .wrapper .image .col-3 .info {
        font-weight: 600;
        text-align: center;
        padding: 10px;
        font-size: 25px;
        font-size: 1.5625rem;
        color: #f0f9ff;
        opacity: .75;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); }

.blog-container {
  padding-left: 5%; }

.post-wrapper {
  margin: 2% 3%;
  padding: 3%;
  background-color: #F1F1F1; }
  .post-wrapper .post-image {
    background: no-repeat center;
    background-size: cover;
    border-radius: 10px;
    height: 300px;
    -webkit-box-shadow: 1px 1px 10px grey;
    box-shadow: 1px 1px 10px grey; }
  .post-wrapper .post-content {
    text-align: left;
    padding: 0 50px; }
    .post-wrapper .post-content .post-title a {
      text-decoration: none;
      font-weight: 800;
      color: black;
      font-size: 52px; }
      .post-wrapper .post-content .post-title a:hover {
        text-decoration: none;
        color: #215299; }
    .post-wrapper .post-content p {
      font-size: 1.7rem; }
    .post-wrapper .post-content .btn {
      width: 100%;
      text-align: center; }
      .post-wrapper .post-content .btn .transparent-bg-btn {
        text-align: center;
        color: #868e96;
        font-weight: 600;
        border: 2px solid #868e96;
        padding: 5px;
        border-radius: 5px; }
        .post-wrapper .post-content .btn .transparent-bg-btn:hover {
          text-decoration: none;
          color: #1485ee;
          border-color: #1485ee; }
    .post-wrapper .post-content .credits {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-left: 40px;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      .post-wrapper .post-content .credits .post-credits {
        font-size: 14px;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 0;
        color: #868e96; }
        .post-wrapper .post-content .credits .post-credits i {
          margin-right: 5px;
          margin-left: 10px; }
        .post-wrapper .post-content .credits .post-credits .tags {
          float: right;
          font-size: 14px;
          margin-left: 10px; }
          .post-wrapper .post-content .credits .post-credits .tags a {
            color: #868e96; }
            .post-wrapper .post-content .credits .post-credits .tags a:hover {
              text-decoration: none; }
      .post-wrapper .post-content .credits hr {
        margin-top: 0;
        margin-bottom: 0; }

.pagination {
  text-align: center;
  margin: 50px auto; }
  .pagination .page-numbers {
    color: #1f1f1f;
    font-size: 20px;
    margin: 0 20px; }
    .pagination .page-numbers:hover {
      text-decoration: none; }
  .pagination .page-numbers.current {
    padding: 0 10px;
    border: 1px solid #1f1f1f;
    border-radius: 30px;
    background-color: #1f1f1f;
    color: #007BE8;
    font-weight: 600; }
  .pagination .next {
    float: right; }
  .pagination .prev {
    float: left; }

.icon-sidebar-container {
  background-color: #1f1f1f;
  height: 100%;
  text-align: center; }

.sidebar-container {
  color: #7d8285;
  height: 100%; }

h1.widget-title {
  font-size: 25px;
  background: #333333;
  padding: 5px;
  margin: 0 35px;
  margin-top: 40px;
  margin-bottom: 30px;
  border-radius: 10px; }

#sidebar .widget_archive ul {
  list-style: none;
  margin-left: 20%; }

#sidebar .widget_archive li {
  text-align: left;
  padding-left: 1.3em;
  margin: 10px 0; }
  #sidebar .widget_archive li:before {
    content: "\f133";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.4em;
    width: 1.3em;
    text-align: left; }
  #sidebar .widget_archive li a {
    background-color: #333333;
    padding: 5px;
    margin: 5px;
    border-radius: 10px; }
    #sidebar .widget_archive li a:hover {
      text-decoration: none; }

#sidebar .tagcloud .tag-cloud-link {
  background-color: #333333;
  padding: 6px;
  border-radius: 10px;
  margin: 15px 0;
  font-size: 12px; }
  #sidebar .tagcloud .tag-cloud-link:hover {
    text-decoration: none; }
  #sidebar .tagcloud .tag-cloud-link .tag-link-count {
    margin: 15px 0; }

#sidebar .widget_authors ul {
  list-style: none;
  margin-left: 20%; }

#sidebar .widget_authors li {
  text-align: left;
  padding-left: 1.3em;
  margin: 10px 0; }
  #sidebar .widget_authors li:before {
    content: "\f2bd";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.4em;
    width: 1.3em;
    text-align: left; }
  #sidebar .widget_authors li a {
    background-color: #333333;
    padding: 5px;
    margin: 5px;
    border-radius: 10px; }
    #sidebar .widget_authors li a:hover {
      text-decoration: none; }

.single-blog {
  margin-top: 8%;
  margin-bottom: 5%; }
  .single-blog .entry-title {
    margin-top: 50px;
    text-align: center;
    font-size: 50px; }
  .single-blog .single-blog-credits {
    padding-bottom: 0;
    color: #898989; }
    .single-blog .single-blog-credits i {
      margin-right: 5px; }
    .single-blog .single-blog-credits .single-blog-tags {
      float: right; }
      .single-blog .single-blog-credits .single-blog-tags a {
        color: #898989; }
        .single-blog .single-blog-credits .single-blog-tags a:hover {
          text-decoration: none; }
  .single-blog hr {
    margin-top: 0;
    margin-bottom: 50px; }

.single-blog-image {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.news-page-container {
  margin: 0;
  padding: 0 4%;
  padding-bottom: 5%; }
  .news-page-container .headline-news {
    height: 66.66667vh; }
    .news-page-container .headline-news .large-section .main-headline .news-image-wrapper {
      height: 66.66667vh; }
    .news-page-container .headline-news .mid-section .second-headline .news-image-wrapper {
      height: 33.33333vh; }
    .news-page-container .headline-news .mid-section .small-sections .col-6 .news-image-wrapper {
      height: 33.33333vh; }

.news-image-wrapper {
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid white;
  border-radius: 10px; }
  .news-image-wrapper .post-title {
    width: 100%;
    padding: 2%; }
    .news-image-wrapper .post-title a {
      color: white;
      opacity: .7;
      text-shadow: 1px 1px 5px black; }
      .news-image-wrapper .post-title a:hover {
        text-decoration: none; }
  .news-image-wrapper .post-credits {
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 7px black; }

.large-section .post-title {
  font-size: 55px; }

.mid-section .second-headline .post-title {
  font-size: 45px; }

.mid-section .small-sections .col-6 .post-title {
  font-size: 30px; }

.post-title-group .post-title a:hover {
  color: #3E8CD6; }

.archive-news {
  height: 83.33333vh; }
  .archive-news .news-image-wrapper {
    height: 41.66667vh; }
  .archive-news .post.title {
    font-size: 35px; }

.small-news-archive .news-image-wrapper {
  height: 20.83333vh; }

.small-news-archive .post-title {
  font-size: 25px; }

.news-sidebar-section {
  text-align: center;
  background-color: #1f1f1f;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
  border: 3px solid white; }

.calendar-content {
  background-color: #F1F1F1;
  padding: 10px;
  margin: 4% 0; }
  .calendar-content .calendar-image {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .calendar-content .calendar-date {
    height: 250px;
    background-color: #3E8CD6;
    padding: 30px; }
    .calendar-content .calendar-date .date {
      color: white;
      font-weight: bold;
      opacity: 0.3;
      text-shadow: 1px 1px 10px black;
      line-height: 80px; }
    .calendar-content .calendar-date h2 {
      font-size: 50pt; }
    .calendar-content .calendar-date h1 {
      font-size: 75pt; }
  .calendar-content .calendar-title {
    padding: 15px; }
    .calendar-content .calendar-title .title {
      font-size: 30pt;
      font-weight: 500; }
      .calendar-content .calendar-title .title a {
        opacity: 0.7;
        color: #1f1f1f;
        text-decoration: none; }
        .calendar-content .calendar-title .title a:hover {
          text-decoration: none;
          color: #3E8CD6;
          opacity: 1; }
    .calendar-content .calendar-title h6,
    .calendar-content .calendar-title small {
      font-size: 15px;
      color: #898989; }
      .calendar-content .calendar-title h6 .fa,
      .calendar-content .calendar-title small .fa {
        font-size: 20px;
        margin-right: 3px; }
    .calendar-content .calendar-title h6 {
      margin-top: 10px; }

.calendar-left-container {
  padding: 20px 0; }
  .calendar-left-container .background {
    background-color: #F1F1F1;
    height: 100%;
    width: 100%;
    padding: 10px; }
    .calendar-left-container .background .past-events-title {
      text-align: center;
      font-size: 30pt;
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0.08);
      border-radius: 20px; }

.past-events-image-container {
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .past-events-image-container .calendar-date {
    background-color: rgba(255, 255, 255, 0.4); }
    .past-events-image-container .calendar-date .date {
      color: #1f1f1f;
      font-weight: 600;
      opacity: 0.6;
      line-height: 50pt; }
    .past-events-image-container .calendar-date h1 {
      font-size: 40pt; }
    .past-events-image-container .calendar-date h2 {
      font-size: 35pt; }
  .past-events-image-container .calendar-title .title {
    font-size: 28pt;
    text-shadow: 1px 1px 10px black; }
    .past-events-image-container .calendar-title .title a {
      opacity: 0.7;
      color: white;
      text-decoration: none; }
      .past-events-image-container .calendar-title .title a:hover {
        text-decoration: none;
        color: #3E8CD6;
        opacity: 1; }

.btn-group {
  width: 100%; }
  .btn-group .btn {
    width: 100%;
    font-size: 20pt;
    font-weight: 600;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08); }

.event .entry-title {
  margin-bottom: 30px; }

.event h6 {
  color: #898989; }
  .event h6 .fa {
    font-size: 22px;
    margin-right: 10px; }

/*==============================
      CONTENT-TEAM STYLE
================================*/
.our-team-container {
  margin: 5% 0;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 5% 10%; }
  .our-team-container .team-container {
    padding: 0;
    -webkit-box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.04); }
    .our-team-container .team-container .member-link {
      border: 2px solid rgba(0, 0, 0, 0.03);
      padding: 5%; }
      .our-team-container .team-container .member-link .image-container {
        width: 15vw;
        height: 15vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        -webkit-transition: all 1000ms ease;
        -moz-transition: all 1000ms ease;
        -ms-transition: all 1000ms ease;
        -o-transition: all 1000ms ease;
        transition: all 1000ms ease;
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%; }
      .our-team-container .team-container .member-link .info-container {
        padding-top: 5%;
        text-align: center; }
      .our-team-container .team-container .member-link .spin {
        margin-left: 2%; }
      .our-team-container .team-container .member-link:hover .image-container {
        -webkit-transition: all 1000ms ease;
        -moz-transition: all 1000ms ease;
        -ms-transition: all 1000ms ease;
        -o-transition: all 1000ms ease;
        transition: all 1000ms ease;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 100%; }
      .our-team-container .team-container .member-link:hover .color {
        -webkit-transition: all 1000ms ease;
        -moz-transition: all 1000ms ease;
        -ms-transition: all 1000ms ease;
        -o-transition: all 1000ms ease;
        transition: all 1000ms ease;
        background-color: rgba(43, 155, 223, 0.5);
        -webkit-transition: all 1000ms ease;
        -moz-transition: all 1000ms ease;
        -ms-transition: all 1000ms ease;
        -o-transition: all 1000ms ease;
        transition: all 1000ms ease;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 100%; }
      .our-team-container .team-container .member-link:hover .fa {
        -webkit-transition: all 1500ms ease;
        -moz-transition: all 1500ms ease;
        -ms-transition: all 1500ms ease;
        -o-transition: all 1500ms ease;
        transition: all 1500ms ease;
        opacity: 1;
        -webkit-box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.04);
        -moz-box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.04);
        box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.04); }
        .our-team-container .team-container .member-link:hover .fa:hover {
          color: #A9CF33;
          opacity: 1; }

.color {
  width: 15vw;
  height: 15vw;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
  background-color: rgba(43, 155, 223, 0);
  position: relative; }
  .color .spin {
    outline: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer; }
    .color .spin .fa {
      color: #f0f9ff;
      font-size: 60px;
      font-size: 3.75rem;
      -webkit-transition: all 800ms ease;
      -moz-transition: all 800ms ease;
      -ms-transition: all 800ms ease;
      -o-transition: all 800ms ease;
      transition: all 800ms ease;
      opacity: 0; }

.modal-image-container {
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4px; }

.modal-body {
  padding: 0; }
  .modal-body .team-modal-content {
    max-height: 50vh; }

.team-member-info .btn-close {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  text-align: center;
  border: none;
  position: absolute;
  top: -5%;
  left: 95%;
  cursor: pointer; }
  .team-member-info .btn-close .fa {
    color: white;
    font-size: 30px;
    font-size: 1.875rem; }

.member-info-container {
  height: 60%;
  overflow: auto;
  max-height: 60%; }

.modal-button-group {
  text-align: right;
  padding-right: 4%;
  margin: 0; }

.contact-us-container {
  position: relative;
  margin-top: 4.5%;
  width: 100%;
  height: 85vh;
  text-align: center; }

.contact-us-map {
  width: 100%;
  height: 100%;
  margin: 20px auto;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.7);
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; }

.direction-pannel {
  position: absolute;
  bottom: 3%;
  left: 35.8%;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0px;
  text-align: center;
  padding-left: 10px;
  width: 30%;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .direction-pannel.show-directions {
    bottom: 10%;
    padding: 25px;
    opacity: 1; }

.btn-group {
  position: absolute;
  z-index: 9;
  bottom: 3%;
  left: 35%;
  width: 30%;
  -webkit-box-shadow: -1px 1px 15px 15px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 1px 15px 15px rgba(0, 0, 0, 0.4); }

.sidenav-right,
.sidenav-left {
  white-space: nowrap;
  text-align: center;
  position: absolute;
  padding-top: 2%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 30%;
  height: 100%;
  top: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .sidenav-right.sidenav-open,
  .sidenav-left.sidenav-open {
    width: 25%; }
  .sidenav-right h3,
  .sidenav-left h3 {
    color: #f0f9ff;
    font-size: 2vw;
    opacity: 0.8;
    font-weight: 800; }
  .sidenav-right h4,
  .sidenav-left h4 {
    color: #f0f9ff;
    font-size: 1.5vw; }

.sidenav-right {
  width: 0;
  right: 0; }
  .sidenav-right .form-group {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    margin-top: 40px;
    -webkit-box-shadow: -1px 1px 15px 15px rgba(0, 0, 0, 0.6);
    box-shadow: -1px 1px 15px 15px rgba(0, 0, 0, 0.6); }
    .sidenav-right .form-group .input-group {
      margin: 40px 0; }
      .sidenav-right .form-group .input-group:first-child {
        margin-top: 0; }
      .sidenav-right .form-group .input-group:last-child {
        margin-bottom: 0; }

.sidenav-left {
  width: 0;
  left: 0; }
  .sidenav-left hr {
    background-color: #f0f9ff;
    opacity: .2; }
  .sidenav-left h1 {
    color: #1f1f1f; }
  .sidenav-left h2 {
    color: #f0f9ff;
    display: block;
    font-size: 1.5vw; }
  .sidenav-left a,
  .sidenav-left p {
    padding: 8px;
    text-decoration: none;
    font-size: .8vw;
    color: #f1f1f1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .sidenav-left a:hover,
    .sidenav-left p:hover {
      color: #1485ee; }
  .sidenav-left .department-info {
    text-align: left;
    margin-top: 40px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    -webkit-box-shadow: -1px 1px 15px 15px rgba(0, 0, 0, 0.6);
    box-shadow: -1px 1px 15px 15px rgba(0, 0, 0, 0.6); }

a.department-phone i,
a.department-fax i,
p.department-address i {
  margin-right: 10px;
  font-size: 1.5vw; }

.popup-tip-anchor {
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 400px; }

/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0; }
  .popup-bubble-anchor:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Center the tip horizontally. */
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-top: 100px solid rgba(0, 0, 0, 0.7); }

/* The popup bubble itself. */
.popup-bubble-content {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  /* Style the info window. */
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 25px;
  max-height: 200px;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5); }

body {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400; }

section {
  padding: 100px 100px; }
  section .second {
    padding: 5%; }
  section html, section body {
    overflow-x: hidden; }
  section .timeline {
    position: relative; }
    section .timeline::before {
      content: '';
      background: white;
      width: 20px;
      height: 95%;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  section .timeline-item {
    width: 100%;
    margin-bottom: 70px; }
    section .timeline-item:nth-child(even) .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px; }
      section .timeline-item:nth-child(even) .timeline-content .date {
        right: auto;
        left: 0; }
      section .timeline-item:nth-child(even) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 20px;
        left: -45px;
        border-width: 20px 45px 20px 0;
        border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent; }
    section .timeline-item::after {
      content: '';
      display: block;
      clear: both; }
  section .timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3); }
    section .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 20px;
      right: -45px;
      border-width: 20px 0 20px 45px;
      border-color: transparent transparent transparent rgba(0, 0, 0, 0.7); }
  section .timeline-img {
    width: 30px;
    height: 30px;
    background: #3F51B5;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px; }
  section a {
    background: #3F51B5;
    color: #FFFFFF;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6); }
    section a:hover, section a:active, section a:focus {
      background: #32408f;
      color: #FFFFFF;
      text-decoration: none; }
  section .timeline-card {
    padding: 0 !important; }
    section .timeline-card p {
      padding: 20px 20px; }
    section .timeline-card a {
      margin-left: 20px; }
  section .timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    section .timeline-img-header h2 {
      color: #f0f9ff;
      opacity: .75;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
      font-size: 60px;
      font-size: 3.75rem;
      font-weight: 600;
      position: absolute;
      bottom: 5px;
      left: 20px; }
  section .date {
    background: #FF4081;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0; }
  section .end-note {
    width: 300px;
    height: 300px;
    background: #3F51B5;
    border: 5px solid #C5CAE9;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -150px;
    text-align: center; }
    section .end-note h1 {
      color: #f0f9ff;
      opacity: .75;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
      margin-top: 30%; }
  section .end-note-container {
    height: 350px; }
  @media screen and (max-width: 768px) {
    section .timeline::before {
      left: 50px; }
    section .timeline .timeline-img {
      left: 50px; }
    section .timeline .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px; }
    section .timeline .timeline-item:nth-child(even) .timeline-content {
      float: none; }
    section .timeline .timeline-item:nth-child(odd) .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent; } }

.logged-in .navbar {
  top: 30px; }

body {
  font-family: 'Open Sans', sans-serif; }

nav {
  background: -moz-linear-gradient(left, #0d4b7e 0%, #499bea 49%, #2c72b4 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #0d4b7e), color-stop(49%, #499bea), color-stop(100%, #2c72b4));
  background: -webkit-linear-gradient(left, #0d4b7e 0%, #499bea 49%, #2c72b4 100%);
  background: -o-linear-gradient(left, #0d4b7e 0%, #499bea 49%, #2c72b4 100%);
  background: -ms-linear-gradient(left, #0d4b7e 0%, #499bea 49%, #2c72b4 100%);
  background: -webkit-gradient(linear, left top, right top, from(#0d4b7e), color-stop(49%, #499bea), to(#2c72b4));
  background: linear-gradient(to right, #0d4b7e 0%, #499bea 49%, #2c72b4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d4b7e', endColorstr='#2c72b4', GradientType=1 );
  max-height: 10vh; }
  nav a {
    color: #f0f9ff;
    font-weight: bold; }

.navbar-collapse ul li {
  color: #1f1f1f; }

.navbar-brand {
  padding: 20px; }

.social-media {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  margin: 20px auto; }
  .social-media a {
    font-size: 20px;
    font-size: 1.25rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 3px;
    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.4); }
    .social-media a:hover {
      -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.8);
      color: white;
      text-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4); }

footer {
  background: -moz-linear-gradient(left, #0d4b7e 0%, #499bea 49%, #2c72b4 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #0d4b7e), color-stop(49%, #499bea), color-stop(100%, #2c72b4));
  background: -webkit-linear-gradient(left, #0d4b7e 0%, #499bea 49%, #2c72b4 100%);
  background: -o-linear-gradient(left, #0d4b7e 0%, #499bea 49%, #2c72b4 100%);
  background: -ms-linear-gradient(left, #0d4b7e 0%, #499bea 49%, #2c72b4 100%);
  background: -webkit-gradient(linear, left top, right top, from(#0d4b7e), color-stop(49%, #499bea), to(#2c72b4));
  background: linear-gradient(to right, #0d4b7e 0%, #499bea 49%, #2c72b4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d4b7e', endColorstr='#2c72b4', GradientType=1 );
  padding: 10px;
  padding-top: 100px; }
  footer .menu {
    text-align: center; }
    footer .menu .menu-item-type-custom {
      display: inline-block;
      text-align: left;
      vertical-align: top;
      margin: 0 5%; }
      footer .menu .menu-item-type-custom a {
        color: #f0f9ff;
        display: inline-block;
        margin-bottom: 20px;
        text-decoration: none;
        font-size: 18px;
        font-size: 1.125rem;
        font-weight: bold; }
        footer .menu .menu-item-type-custom a:after {
          display: block;
          content: url("../img/separa_34.png");
          margin-top: 10px; }
    footer .menu .sub-menu {
      padding: 0; }
      footer .menu .sub-menu .menu-item-type-post_type {
        display: block; }
        footer .menu .sub-menu .menu-item-type-post_type a {
          margin-bottom: 0;
          margin-left: 0;
          margin-right: 0;
          font-size: 14px;
          font-size: 0.875rem;
          font-weight: normal;
          opacity: 0.5; }
          footer .menu .sub-menu .menu-item-type-post_type a:hover {
            opacity: 0.8;
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out; }
          footer .menu .sub-menu .menu-item-type-post_type a:after {
            content: none; }
  footer .contact-us {
    color: #f0f9ff;
    margin-top: 1%; }
    footer .contact-us .row {
      margin-left: 12%;
      margin-right: 12%; }
      footer .contact-us .row .col {
        padding: 0 50px; }
        footer .contact-us .row .col:first-child {
          border-right: 1px solid rgba(255, 255, 255, 0.2); }
        footer .contact-us .row .col:last-child {
          border-left: 1px solid rgba(255, 255, 255, 0.2); }
    footer .contact-us h3 {
      color: #f0f9ff;
      margin-bottom: 20px;
      font-size: 18px;
      font-size: 1.125rem;
      font-weight: bold;
      margin-left: 15%; }
      footer .contact-us h3:after {
        display: block;
        content: url("../img/separa_34.png");
        margin-top: 10px; }
    footer .contact-us .contact-info {
      text-align: center; }
      footer .contact-us .contact-info .espacio-ico-01 {
        opacity: 0.8;
        font-weight: normal;
        font-size: 15px;
        font-size: 0.9375rem; }
      footer .contact-us .contact-info a {
        text-decoration: none;
        color: inherit;
        opacity: 0.5;
        font-style: italic;
        float: right;
        font-size: 15px;
        font-size: 0.9375rem; }
        footer .contact-us .contact-info a:hover {
          opacity: 0.8; }
      footer .contact-us .contact-info span {
        opacity: 0.5;
        float: left;
        font-size: 13px;
        font-size: 0.8125rem; }
    footer .contact-us .copyright {
      text-align: center;
      font-weight: bold;
      margin-top: 10px;
      opacity: .4; }
    footer .contact-us .footer-logo {
      text-align: center; }

main #myCarousel {
  top: 95px;
  /*====================================
		CAROUSEL BUTTON STYLE
===================================*/ }
  main #myCarousel .carousel-inner {
    height: 75vh; }
    main #myCarousel .carousel-inner .carousel-item {
      display: block;
      opacity: 0;
      -webkit-transition: opacity .9s ease-in-out;
      -o-transition: opacity .9s ease-in-out;
      transition: opacity .9s ease-in-out; }
      main #myCarousel .carousel-inner .carousel-item.active {
        opacity: 1 !important; }
      main #myCarousel .carousel-inner .carousel-item img {
        min-width: 100%; }
      main #myCarousel .carousel-inner .carousel-item .slide-heading .carousel-caption {
        margin-bottom: 5em; }
        main #myCarousel .carousel-inner .carousel-item .slide-heading .carousel-caption h1 {
          color: #f0f9ff;
          opacity: .75;
          text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
          font-size: 40px;
          font-size: 2.5rem;
          font-weight: bold; }
        main #myCarousel .carousel-inner .carousel-item .slide-heading .carousel-caption .slider-paragraph {
          font-size: 20px;
          font-size: 1.25rem;
          font-weight: bold;
          color: #f0f9ff;
          opacity: .75;
          text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); }
  main #myCarousel .carousel-control-next {
    z-index: 1; }
  main #myCarousel .carousel-control-prev {
    z-index: 1; }
  main #myCarousel #animated-heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 200px;
    color: #f0f9ff;
    opacity: .75;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7); }
    main #myCarousel #animated-heading .clip {
      margin: 0 auto;
      font-size: 80pt; }
      main #myCarousel #animated-heading .clip .blc {
        display: inline-block;
        padding-bottom: 5px;
        padding: .2em 0; }
      main #myCarousel #animated-heading .clip .cd-words-wrapper {
        display: inline-block;
        position: relative;
        text-align: left;
        overflow: hidden;
        vertical-align: top;
        padding: .2em 0; }
        main #myCarousel #animated-heading .clip .cd-words-wrapper b {
          display: inline-block;
          position: absolute;
          white-space: nowrap;
          left: 0;
          top: 0;
          opacity: 0;
          padding-bottom: 5px; }
        main #myCarousel #animated-heading .clip .cd-words-wrapper .is-visible {
          position: relative;
          opacity: 1;
          font-weight: bold; }
  main #myCarousel #button_group_id {
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.08); }
    main #myCarousel #button_group_id .btn {
      -webkit-box-shadow: 0px 0px 26px 10px rgba(255, 255, 255, 0.1);
      -moz-box-shadow: 0px 0px 26px 10px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 0px 26px 10px rgba(255, 255, 255, 0.1);
      margin: 0 7.5px;
      height: 120px;
      background-color: #1E1E1E;
      padding: 0;
      border: none;
      color: #f0f9ff;
      font-size: 70px;
      font-size: 4.375rem; }
      main #myCarousel #button_group_id .btn .btn-icon {
        width: 25%;
        height: 100%; }
        main #myCarousel #button_group_id .btn .btn-icon .fa {
          font-weight: bolder;
          background-color: #1f1f1f;
          color: transparent;
          text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text; }
      main #myCarousel #button_group_id .btn span {
        font-size: 40px;
        font-size: 2.5rem;
        font-weight: 600;
        position: absolute;
        top: 30px;
        left: 40%; }
      main #myCarousel #button_group_id .btn:hover .btn-icon {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        width: 85%; }
      main #myCarousel #button_group_id .btn:hover .triangle {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        left: 85%; }
      main #myCarousel #button_group_id .btn:hover span {
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        opacity: 0; }
    main #myCarousel #button_group_id .need-help-btn .btn-icon {
      background-color: #F29228; }
    main #myCarousel #button_group_id .need-help-btn .triangle {
      content: '';
      display: block;
      position: relative;
      height: 0;
      width: 0;
      border-top: 3.75rem solid transparent;
      border-bottom: 3.75rem solid transparent;
      border-left: 3.75rem solid #F29228;
      position: absolute;
      top: 0%;
      left: 25%; }
    main #myCarousel #button_group_id .volunteer-btn .btn-icon {
      background-color: #89C4F3; }
    main #myCarousel #button_group_id .volunteer-btn .triangle {
      content: '';
      display: block;
      position: relative;
      height: 0;
      width: 0;
      border-top: 3.75rem solid transparent;
      border-bottom: 3.75rem solid transparent;
      border-left: 3.75rem solid #89C4F3;
      position: absolute;
      top: 0%;
      left: 25%; }
    main #myCarousel #button_group_id .donate-btn .btn-icon {
      background-color: #A9CF33; }
    main #myCarousel #button_group_id .donate-btn .triangle {
      content: '';
      display: block;
      position: relative;
      height: 0;
      width: 0;
      border-top: 3.75rem solid transparent;
      border-bottom: 3.75rem solid transparent;
      border-left: 3.75rem solid #A9CF33;
      position: absolute;
      top: 0%;
      left: 25%; }
    main #myCarousel #button_group_id .wishlists-btn .btn-icon {
      background-color: #F8E620; }
    main #myCarousel #button_group_id .wishlists-btn .triangle {
      content: '';
      display: block;
      position: relative;
      height: 0;
      width: 0;
      border-top: 3.75rem solid transparent;
      border-bottom: 3.75rem solid transparent;
      border-left: 3.75rem solid #F8E620;
      position: absolute;
      top: 0%;
      left: 25%; }

/*====================================
		TITLE COMPONENT STYLING
===================================*/
.title-conponent {
  text-align: center;
  margin-top: 150px; }
  .title-conponent .title-row .title {
    margin: 0 50px; }
    .title-conponent .title-row .title h1 {
      text-align: center;
      font-weight: 600;
      font-size: 60px; }
  .title-conponent .title-row .separator {
    background: url("../img/header-bg.png") repeat-x center;
    padding: 0; }
  .title-conponent .description {
    color: #7d8285;
    font-size: 15pt;
    font-weight: 600;
    margin: 10px 20px; }
