.blog-post-wrapper{
  margin: 2% 3%;
  padding: 3%;
  background-color: $clr-grey-100;

  .blog-post-content {
    position: relative;
    text-align: left;
    padding: 0;
    padding-left:50px;
    @include bp-large{
      font-size: 18px;
    }

      .blog-title-excerpt{

          h1.blog-post-title{
            margin:0;
            a.blog-title-link{
              position:relative;
              z-index: 2;
              text-decoration: none;
              font-weight: 800;
              color: black;
              font-size: 52px;
              @include bp-large{
                font-size: 35px;
              }
              transition: .3s ease;
              &:hover{
                text-decoration: none;
                color:#215299;
              }
            }
          }
          p{
            margin-top: 20px;
          }
        }

          .blog-credits{
            position:absolute;
            z-index:0;
            left:0;
            bottom:0;
            right:0;
            padding-left:50px;
            padding-top: 50pc;

            .blog-post-credits{
              font-size: 14px;
              font-style: italic;
              margin-top: 0;
              margin-bottom: 0;
              color: #868e96;

              i{
                margin-right: 5px;
                margin-left: 10px;
              }

              .tags{
                float:right;
                font-size: 14px;
                margin-left: 10px;

                a{
                  color: #868e96;
                  &:hover{
                    text-decoration: none;
                  }
                }
              }
            }
             hr{
              margin-top:0;
              margin-bottom:0;
            }
          }
        }
      }
div.blog-post-image{
  background: no-repeat center;
  background-size: cover;
  border-radius: 10px;
  height:300px;
  box-shadow: 1px 1px 10px grey;
  }

//pagination style
.pagination{ text-align: center;
              margin:50px auto;

  .page-numbers{
          color:#1f1f1f;
          font-size: 20px;
          @include bp-large{
            font-size: 15px;
          }
          margin: 0 20px;
          &:hover{
            text-decoration: none;
          }
  }
  .page-numbers.current{
          padding: 0 10px;
          border: 1px solid #1f1f1f;
          border-radius: 30px;
          background-color: #1f1f1f;
          color: #007BE8;
          font-weight: 600;
  }
  .next{float:right;}
  .prev{ float: left;}
}
