// ============================
// TOP BANNER PICTURE FOR THE PAGES
// ===========================
article.banner-wrapper{
          margin-top:95px;
          padding: 0;
          height:60vh;

          div.banner-image{
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size:cover;
            width: 100%;
            height: 60vh;
            margin: 0;

            div.banner-title-header{
              position:relative;

              h1.banner-title{
                font-size: 5vw;
                font-weight: 300;
                padding-left: 30px;
                @include picture_font_style;
                position: absolute;
                left:1vw;
                top:20vh;
              }
            }

            div.banner-info-wrapper{
              max-height: 60vh;
              i.fa{
                color: rgba(0,0,0,.7);
                text-shadow: 2px 2px 25px rgba(255,255,255,.7);
                font-size: $h1_title;
              }
              i.fa-quote-right{
                float:right;
              }

              div.banner-info{
                text-align: center;
                max-height:48vh;
                overflow: auto;

                p{
                  @include picture_font_style;
                  font-size: $h3_description;
                }
              }
            }
          }
        }
