//=====================
//	IMPACT BOXES
// ====================
main{
  .impact-boxes{  margin-top:5%;
                  width:100%;
                  padding: 5em 15em;
                  background: $grey1;

      .item{ text-align: center;

          .box{}
          .icon { font-size:100pt;
                  color: $icon_color;
          }
          .title-of-box{  font-weight:600;
                          font-size:30pt;
                          padding: 4px 0;
                          margin: 15px 0;
          }//title-of-box
          .description-of-box{  font-size:15pt;
                                font-weight: 600;
                                color:$paragraph_font_color;
          }//description-of-box
      }//item
  }//impact-boxes

//=====================
//	FEATURED BOXES
// ====================
  .post-contents{ padding: 3% 10%;
                  margin: 5% 0;
                  background-color: $grey1;

    .single-post{ padding: 3.5em 1.5em;
                  padding-bottom: 1em;
                  // background-color: white;

      h1{
          position:absolute;
          z-index: 1;
          @include font-size(60px);
          font-style: italic;
          font-weight: 700;
          @include picture_font_style;
          padding:2% 5%;
          ul{ list-style: none;
            li{
              a{
                cursor: default;
              }
            }
          }
        }
      .post-image{
        position: relative;
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        box-shadow: inset 0px 0px 150px 15px rgba(0,0,0,0.8);

        a{
          img{  width:100%;
                height:300px;
                float: left;
                //box-shadow: 1px 1px 20px gray;

                border-radius: 5px;
          }//img
        }//a
      }//post-image
      .post-content{
                      margin-left: 2%;
                      margin-right: 2%;

        .post-header{
                      width: 100%;
                      position:relative;
                img{
                      position: relative;
                      top:-2em;
                      max-width:40%;
                      height:auto;
                      margin-left: 2%;
                  }
            }//post-header
          .post-title{
                        text-decoration: none;
                        font-style: italic;
                        @include font-size(28px);
                        margin-left: 4%;

              a{  text-decoration: none;
                  color:black;
                  &:hover{  color:$font_hover_color;
                  }
              }//a
          }//post-title
        p{
            @include font-size(20px);
            line-height: 27px;
            text-align: left;
            margin-left:4%;
            color:$paragraph_font_color;
            min-height: 150px;
        }//p
        .transparent-bg-btn{
                position: absoute;
                bottom:0;
                left:0;
                border: 2px solid $grey1;
                border-radius: 4px;
                text-decoration: none;
                text-align:center;
                color: $button_border_blue;
                font-weight: 600;
                @include font-size(20px);
                font-style: italic;
                padding: 10px 40px;

                &:hover{  color: $button_border_blue;
                          border-color: $button_border_blue;
                          transition: all .5s ease-in-out;
                      }
        }//transparent-bg-btn
      }//post-content
    }//single-post
  }//post-contents
}//main
