// ================
// THE HISTORY PAGE STYLE
//=================
main{
  overflow-x: hidden;
}
section.timeline{
  margin-top:100px;
  position:relative;

  .timeline-item{
    height: 500px;
    width:100%;
    padding-bottom: 100px;

    .timeline-divider{
      position:absolute;
      top:0;
      bottom:0;
      width: .2%;
      background-color: $clr-blue;
      left:49.9%;

    }
    .timeline-img{
        width:6vw;
        height:6vw;
        background-color: $clr-blue;
        border: 5px solid $clr-grey-200;
      	border-radius: 100%;
      	position: absolute;
      	left: 47%;
        z-index: 1;
        text-align: center;

        .date{
          position:absolute;
          z-index: 2;
          top:30%;
          @include picture_font_style;
          font-size: 40px;
          font-weight:bold;
          line-height: 40px;
        }
    }
    .timeline-content{
      width:800px;
      // overflow-y: auto;

      .timeline-img-header{
        height:300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        h2.timeline-title{
          @include picture_font_style;
          opacity: .8;
          font-size: 60px;
          font-weight: 600;
          position:absolute;
          top: 10px;
        }
      }
      .timeline-paragraph{
        padding-top:10px;
        height:180px;
        overflow: auto;

      }
    }
    &:nth-child(even){

       		.timeline-content {
      			float: right;
      			padding: 10px 10px 10px 10px;
            background-color: $clr-grey-200;
            margin-right:270px;
            &::after {
              content: '';
      				position: absolute;
      				border-style: solid;
      				width: 0;
      				height: 0;
      				top: 0;
      				left: -200px;
      				border-width: 0px 200px 500px 0;
      				border-color: transparent $clr-grey-200 transparent transparent;
            }
            h2.timeline-title{
              left:20px;
            }
          }
        }
  &:nth-child(odd){

    .timeline-content{
      padding: 10px;
      background-color:$clr-grey-200;
      margin-left:270px;
      &::after {
    		content: '';
    		position: absolute;
    		border-style: solid;
    		width: 0;
    		height: 0;
    		top: 0;
    		right: -200px;
    		border-width: 0 0 500px 200px;
    		border-color: transparent transparent transparent $clr-grey-200;// #f5f5f5;
      	}
        h2.timeline-title{
          right:20px;
        }
      }
    }
  }
}
div.end-note-container{
  text-align: center;
  margin-bottom: 100px;
  a.timeline-end-note{
    padding-top:25px;
    line-height: 40px;
    text-align: center;
    font-size:35px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 5px solid $clr-blue;
    border-radius:100%;
    color:$clr-blue;
    transition:.5s;
    &:hover{
      background-color: $clr-blue;
      color:white;
    }
  }
}
