// ================
// THE HISTORY PAGE STYLE
//=================
main{
  overflow-x: hidden;
}
section.timeline{
  margin-top:10vh;
  position:relative;

  .timeline-item{
    height: 50vh;
    width:100%;
    padding-bottom: 10vh;

    .timeline-divider{
      position:absolute;
      top:0;
      bottom:0;
      width: .2%;
      background-color: $clr-blue;
      left:49.9%;
    }

    .timeline-img{
        width:10vw;
        height:10vw;
        background-color: $clr-blue;
        border: 20px solid $clr-grey-200;
      	border-radius: 100%;
      	position: absolute;
      	left: 45%;
        z-index: 1;
        text-align: center;

        .date{
          position:absolute;
          z-index: 2;
          top:30%;
          @include picture_font_style;
          font-size: $h2_subtitle;
          @include bp-large{
            font-size: 20px;
            top: 10%;
          }
          font-weight:bold;
          line-height: 40px;
        }
    }
    .timeline-content{
      width:40vw;

      .timeline-img-header{
        height:25vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        h2.timeline-title{
          @include picture_font_style;
          opacity: .8;
          font-size: $h1_title;
          font-weight: 400;
          position:absolute;
          top: 2vh;
        }
      }
      .timeline-paragraph{
        padding-top:2%;
        height:20%;
        overflow: auto;
      }
    }
    &:nth-child(even){

       		.timeline-content {
      			float: right;
      			padding: 1%;
            background-color: $clr-grey-200;

            &::after {
              content: '';
      				position: absolute;
      				border-style: solid;
      				width: 0;
      				height: 0;
      				top: 0;
      				left: -7.9vw;
      				border-width: 0px 8vw 48vh 0;
      				border-color: transparent $clr-grey-200 transparent transparent;
            }
            h2.timeline-title{
              left:2vw;
            }
          }
        }
  &:nth-child(odd){

    .timeline-content{
      padding:1%;
      background-color:$clr-grey-200;

      &::after {
    		content: '';
    		position: absolute;
    		border-style: solid;
    		width: 0;
    		height: 0;
    		top: 0;
    		right: -7.9vw;
    		border-width: 0 0 48vh 8vw;
    		border-color: transparent transparent transparent $clr-grey-200;// #f5f5f5;

      	}
        h2.timeline-title{
          right:2vw;
        }
      }
    }
  }
}
div.end-note-container{
  position:relative;
  text-align: center;
  margin-bottom: 30vh;
  a.timeline-end-note{
    position:absolute;
    left:45%;
    padding-top:25px;
    line-height: 35px;
    text-align: center;
    font-size:35px;
    @include bp-large{
      font-size: 18px;
      padding-top: 8px;
    }
    box-sizing: border-box;
    width: 10vw;
    height: 10vw;
    border: 5px solid $clr-blue;
    border-radius:100%;
    color:$clr-blue;
    transition:.5s;
    &:hover{
      background-color: $clr-blue;
      color:white;
    }
  }
}
