$picture_size: 15vw;

/*==============================
      PAGE CONTENT STYLE
================================*/
.our-team-container {
    margin: 5% 0;
    
    padding: 5% 10%;

  .team-container {
      padding: 0;
      // @include box_shadow;

      .team-member{
        border: 1px solid $clr-grey-100;
        // @include box_shadow;
        margin:auto;
      }

    .member-link{
        padding: 5%;


      .image-container{
        width:$picture_size;
        height:$picture_size;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;

        @include animate(all, 1000ms);
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
      }//image-container

      .info-container{
        padding-top: 5%;
        text-align: center;
      }//info-container
      .spin{
        margin-left:2%;
      }
      &:hover{
        @include animate(all, 500ms);
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.05);
        .image-container{
          @include animate(all, 1000ms);
          border-top-right-radius: 100%;
          border-bottom-left-radius: 0%;
          border-bottom-right-radius: 100%;
        }
        .color{
          @include animate(all, 1000ms);
          background-color: rgba(43,155,223,.5);
          @include animate(all, 1000ms);
          border-top-right-radius: 100%;
          border-bottom-left-radius: 0%;
          border-bottom-right-radius: 100%;
        }//color
        .fa{
          @include animate(all, 1500ms);
          opacity: 1;
          @include box_shadow;
          &:hover{
            color:$clr-lime;
            opacity:1;
          }//fa:hover
        }//fa
      }//member-link:hover
    }//member-link
  }//team-container
}//our-team-container

.color{
    width: $picture_size;
    height:$picture_size;
    @include animate(all, 1000ms);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    @include animate(all, 1000ms);
    background-color: rgba(43,155,223,0);
    position: relative;

    .spin{
      outline: none;
      margin:0;
      padding: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      cursor:pointer;

      .fa {
          color: $menu_font_color;
          @include font-size(60px);
          @include animate(all, 800ms);
          opacity: 0;
    }//.fa
  }//.spin
}//.color


// ===========================
//MODAL STYLING
// ===========================
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
.modal-image-container{
  height: 30vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius:4px;

}
.modal-body{
  padding:0;
  .team-modal-content{
    max-height: 30vw;

  }
}

.team-member-info{
  .btn-close{
    width:2.5em;
    height:2.5em;
    border-radius:100%;
    text-align: center;
    border:none;
    position: absolute;
    top:-20px;
    right:-10px;
    cursor: pointer;
    .fa{
      color:white;
      @include font-size(30px);
    }
  }
  h1.modal-name{
    font-size:50px;
    font-weight:lighter;
  }
  h3.modal-job-title{
    font-size:30px;
    font-style: italic;
    color:$clr-ui-display-1;
  }
}
.member-info-container{
  height: 60%;
  overflow: auto;
  max-height: 60%;
  font-size: 20px;
  font-weight: 400;
}
.modal-button-group{
  position:absolute;
  bottom:10px;
  right:10px;
  text-align: right;
  padding-right: 4%;
  margin:0;

}
