// ========================
// NOTE: FUNDS STYLES
// ========================
div.funds-body-wrapper
{
    padding:50px;
    margin:0;
    height:auto !important;

    #fundsTab
    {
        li.funds-nav-item
        {
            a.funds-nav-link
            {
                background-color: $clr-grey-200;
                color:white;
                border-bottom:1px solid $clr-grey-300;
                &.active
                {
                    background-color: white;
                    color:black;
                    border-bottom: 1px solid white;
                }

                @include bp-large
                {
                    font-size: 25px;
                }
            }
        }
    }

    #fundsTabContent
    {
        border:1px solid $clr-grey-300;
        border-top: 1px solid transparent;
        width:inherit !important;
        padding: 100px;

        @include bp-large
        {
            padding: 50px;
        }
        div.funds-tab-content
        {
            width:inherit !important;

            .display-4
            {
                @include bp-large
                {
                    font-size: 3rem;
                }
            }
        }
        @include bp-large
        {
            height: 200vh;
        }
    }
}
div.full-button-wrapper
{
    padding: 50px;
    background-color: $clr-grey-50;

    h2
    {
        font-size: 100px;
        @include bp-large
        {
            font-size: 50px;
        }
    }
}
div.normal-button-wrapper
{
    margin-top: 50px;

    h2
    {
        font-size: 50px;

        @include bp-large
        {
            font-size: 30px;
        }
    }
}
article.funds-link-wrapper
{
    padding:2px;

    a.funds-donation-link
    {
        &:hover
        {
            text-decoration: none;
        }

        div.funds-donation-button
        {
            margin: 0 2px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height:220px;
            box-shadow: inset 0 0 10px -15px rgba(0,0,0,0.7);
            box-shadow: inset 0 0 75px -15px rgba(0,0,0,0.7), 0 0 0px -15px rgba(0,0,0,0.7);
            transition: box-shadow .3s, transform .3s;
            &:hover
            {
                transform: scale(1.015, 1.015);
                box-shadow: inset 0 0 0px -15px rgba(0,0,0,0.7), 0 0 75px -15px rgba(0,0,0,0.7);

                h2
                {
                    color: $icon_color;
                }

            }
            h2
            {
                @include picture_font_style;
                transition: 300ms;

            }
        }
    }
}
.tooltip-inner
{
    max-width: 600px;
    transition: all .3s linear;
    @include bp-large
    {
      max-width: 350px;

  }    /* If max-width does not work, try using width instead */    // width: 350px;
}

// ===========================
// NOTE: GOODS STYLES
// ===========================
#map-canvas
{
    height:70vh;
    width:100%;
}

.map-marker-image
{
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    width: 150px;
    height: 150px;
    margin:0;
}

.infowindow-wrapper
{
    width: 400px;
}

.infowindow-btn
{
    margin:10px 40px;;
}

#container{
  margin:1vh 0;
  padding:60px 0;
  position: relative;

  #right-panel{
    line-height: 30px;
    padding-left: 10px;
    tr{
      @include picture_font_style;
      .adp-stepicon{
        div.adp-maneuver{
          color: white;
        }
      }
    }
    .adp-text{
      color:black;
    }
    .adp-summary{
      @include picture_font_style;
    }
    height:100%;
    width:100%;
    overflow: auto;
  }

  .goods-bin-info-wrapper{
    position:absolute;
    left:1vw;
    top:0;
    bottom:0;
    width:30vw;
    @include rgba(bg, black, .7);

    h3.goods-bin-info-title{
      margin-top: 30px;
      text-align: center;
      @include picture_font_style;
      font-size: $h2_subtitle;
      @include bp-large{
        font-size: 25px;
      }
    }
    .goods-search-bin{
      width:100%;
      height:50px;
      font-size:25px;
      @include bp-large{
        font-size: 20px;
      }
        label{
          @include picture_font_style;
        }
        #afterSearchBar{
          @include picture_font_style;
        }
        .bin-search-button{
          margin:0 auto;
        }
        .form-row{
          padding:10px;
        }
      }
    }
  }
  small.goods-directions-subtitle{
    @include picture_font_style;
    margin-left: 10px;
  }
.bin-location-select{
  max-height:50vh;
  @include bp-large{
    max-height: 40vh;
  }
  overflow:auto;
  overflow-x: hidden;
  padding:0;
  margin:0;
  p{
    margin-left:10px;
    font-size: 20px;
    @include bp-large{
      font-size: 15px;
    }
    border-bottom:1px solid rgba(255,255,255,.4);
    @include picture_font_style;
    display: block;
    transition: .3s ease;
    &:hover{
      cursor: pointer;
      color: $icon_color;
    }
  }
}
div.goods-what-donate-banner{
  position: relative;
  height:90vh;
  @include bp-large{
    height: 100vh;
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  background-attachment: fixed;

  div.goods-acceptable{
    overflow: auto;
    text-align: center;
    position: absolute;
    top:5vh;
    left:10vw;
    bottom:30vh;
    width: 35vw;
    @include rgba(bg, white, .9);

    h1{
      font-size: 60px;
      @include bp-large{
        font-size: 35px;
      }
      font-weight: 300;
    }
  }

  div.goods-not-acceptable{
      overflow: auto;
    text-align: center;
    position:absolute;
    top:5vh;
    left:55vw;
    bottom:30vh;
    width: 35vw;
     @include rgba(bg, white, .9);

    h1{
      font-size: 60px;
      @include bp-large{
        font-size: 35px;
      }
      font-weight: 300;
    }
  }
  div.goods-not-acceptable,
  div.goods-acceptable{
    ul{
      li{
        list-style: none;
        font-size: 20px;
        @include bp-large{
          font-size: 15px;
        }
      }
    }
  }
  div.goods-buttons-wrapper{
    position: absolute;
    bottom:0;
    left:0;
    right: 0;
    padding: 10px;
    background-color: white;
    margin: 10px 0;

    .col-4{
      text-align: center;
      font-size: 20px;
      @include bp-large{
        font-size: 15px;
      }
      button{
        width: 50%;
        @include bp-large{
          width: 40%;
          font-size: 15px;
        }
      }
    }
  }
}

// ===========================
// NOTE: WISHLISTS STYLES
// ===========================
#masonry{
  column-count: 4;
  column-gap: 1em;
}
@media(min-width: 30em) {
  #masonry {
    column-count: 2;
    column-gap: 1em;
  }
}

@media(min-width: 40em) {
  #masonry {
    column-count: 3;
    column-gap: 1em;
  }
}

@media(min-width: 60em) {
  #masonry {
    column-count: 4;
    column-gap: 1em;
  }
}

.wishlists-body-wrapper{
  padding: 0 4em;
}
.wishlist-single-wrapper{

  background-color: none;
  display: inline-block;
  margin: 0 0 1em 0;
  width: 100%;

  .wishlist-icon-wrapper{
    color:$icon_color;
    @include bp-large{
      font-size: 5rem;
    }
  }

}
div.wishlist-content-wrapper{
  background-color: $clr-grey-100;
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-bottom: -4px;
  .wishlist-title-wrapper{
      @include bp-large{
        font-size: 2.5rem;
      }
  }
  .wishlist-description-wrapper{
      @include bp-large{
        font-size: 1rem;
      }
  }

}

@keyframes active-in {
  0% {
    opacity:1;
    background-color:white;
  }

  50% {
    opacity:0;
    background-color:rgba(0,0,0,0.90);
  }

  100% {
    opacity: 1;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.90);
  }
}

@keyframes active-in-img {
  0% {
    opacity:1;
    transform:translate(0%, 0%);
    top: 0;
    left: 0;
    max-width: 100%;
  }
  49% {
    opacity:0;
    transform: translate(0%, -50%);
  }
  50% {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  100% {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  width: auto;
  max-height: 95vh;
  opacity:1;
  }
}
