// NOTE: BOOST PAGE STYLE
div.boost-body-wrapper
{
    padding: 0 20px;
    div.boost-col-3-wrapper
    {
        div.boost-nav-wrapper
        {
            a.boost-nav-link
            {

                border:none;
                border-right:1px solid $clr-grey-300;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                height: 5vw;
                font-size: 30px;
                text-align: center;
                color:white;
                background-color: $clr-grey-200;
                transition: all .3s linear;
                &.active
                {
                    background-color: $clr-grey-50;
                    color:black;
                    border: 1px solid $clr-grey-300;
                    border-right:none;

                }
            }
        }
    }
    div.boost-col-9-wrapper
    {
        div.boost-tab-content
        {
            div.boost-tab-pane
            {
                border:1px solid $clr-grey-300;
                border-left:none;
                // height: 100vh;
                border-top-left-radius: 0px;
                background-color: $clr-grey-50;

                article.boost-program-wrapper
                {
                    padding: 0 4em;
                    h1.boost-program-title
                    {

                    }
                    div.boost-programs-row-wrapper
                    {
                        div.boost-program-image
                        {
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                            height:30vw;
                        }

                        div.boost-get-involved-button
                        {
                            div.boost-program-btn-group
                            {
                                padding:50px;
                                // height:70%;
                                background-color: $clr-grey-200;
                                h1.boost-get-involved-button-title
                                {
                                    font-size: 60px;
                                }
                            }
                        }
                    }
                    div.boost-program-content
                    {

                    }
                }
            }
        }
    }
}
