@import "mixins";
@import "color_pallete";
@import "variables";
@import "content-banner";
@import "blog-page";
@import "blog-sidebar";
@import "single-blog";
@import "news-page";
@import "calendar-style";
@import "team_board_pages";
@import "contact-us";
@import "our_history";

// TODO: create styling for responsive design

//adds a 30px to the top of the navbar when we are logged in in wordpress
// so the wordpress dashboard doesnt oberlay with the website navbar
//====================================
.logged-in {
	.navbar{
		top: 30px;}
}
//sets font and margins as a start default value for overall website
//===================================
body{
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
}
//===================================

// ====================
// HEADER STYLING
// ====================
nav {
	 @include header_footer_background;
	  height: 100px;
}
.navbar-nav{
	.menu-item{
		.nav-link{//navbar menu page links
			color:$clr-grey-50;
			opacity: .5;
			font-weight: bolder;
			font-size: 20px;
			cursor: pointer;
			transition: 500ms;
			&:hover{
				color:$clr-grey-50;
				opacity: 1;
			}
		}//nav-link
	}//nav-item
}//navbar-nav


// ====================
// FOOTER STYLING
// ====================
footer{
	@include header_footer_background;
	padding: 10px;
	padding-top:50px;
	.ul-container{
		padding:0;
		margin:0 auto;
	}
	.menu{
		// margin:0 40px;
		padding:0;
		text-align: center;
		.menu-item-type-custom{
			display: inline-block;
			text-align: left;
			vertical-align: top;
			margin: 0 50px;
			a{
				color:$clr-grey-50;
				display:inline-block;
				margin-bottom: 20px;
				text-decoration: none;
				font-size: 20px;
				font-weight:bold;
				&:after{	display: block;
									content: url('../img/separa_34.png');
									width:100%;
									margin-top: 2px;}
			}
		}
		.sub-menu {
			padding: 0;
			.menu-item-type-post_type{
							display: flex;
							a {
									margin: 0;
									font-size:15px;
									font-weight:normal;
									transition: .5s;
									opacity:.5;
									&:hover {	opacity: 1;
														transition: all .3s ease-in-out;}
									&:after{	content: none;}
								}
							}
						}
				}
		.contact-us{
							padding: 0;
							margin:0 auto;
							color: $clr-grey-100;
							margin-top: 10px;
							display: block;
		.contact-us-container{
						padding: 0;
						margin:0 auto;
						height:auto;
				.footer-contact-us-col{
					// height:auto;
					padding: 0 50px;
					&:first-child{
						border-right: 1px solid rgba(255, 255, 255, .2);
					}
					&:last-child {
						border-left: 1px solid rgba(255, 255, 255, .2);
					}
				}//col
		}//contact-us-container
		h3{
				font-size:20px;
				font-weight:bold;
				padding:0 50px;
				&:after{
									display: block;
									content: url('../img/separa_34.png');
								}
			}
		.contact-info{
			text-align: center;
				.espacio-ico-01{	opacity:1;
													font-weight:normal;
													font-size: 18px;
												}
				a{	text-decoration: none;
						color: inherit;
						opacity:.5;
						font-style: italic;
						float: right;
						font-size: 15px;
						transition: .5s;
						&:hover{
							opacity:1;
						}
					}
					span{	opacity:.5;
								float:left;
								font-size: 15px;
							}//span
				}//contact-info

				.social-media{	text-align: center;
												color:  rgba(255,255,255,0.4);
												margin: 50px auto;
						h5.social-media-title{
							text-align: center;
						}
						a{	font-size:30px;
								width:50px;
								height: 50px;
								line-height: 50px;
								display: inline-block;
								text-align: center;
								border-radius: 100%;
								margin: 3px;
								box-shadow:0 0 0 1px rgba(255,255,255,.5);
								color: rgba(255,255,255,0.4);
								&:hover{	box-shadow:0 0 0 1px rgba(255,255,255,.8);
													color: rgba(255,255,255, 1);
													text-shadow: 0 0 0 1px rgba(255,255,255,0.4);}
							}//a
				}//social-media
		.copyright{
								font-size: 15px;
								text-align: center;
								font-weight: bold;
								margin-top: 10px;
								opacity: .5;
		}//copyright
		.footer-logo{	text-align: center;
		}//footer-logo
	}//contact-us
}//footer
//=====================
//	CAROUSEL STYLE
// ====================
#myCarousel{
		position: relative;
		top:95px;
		height: 80vh;
		margin-bottom: 400px;//size might differ from screen size
		.carousel-inner{
				height:inherit;
			.carousel-item{
				height: inherit;
				display: block;
				opacity: 0;
				transition: opacity .9s ease-in-out;
				&.active {
					opacity: 1 !important;
					}
				img{
					position:relative;
					min-width:100%;
					height:inherit;
					&:before{
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						box-shadow: inset 0 0 80px rgba(0,0,0,.6);
						-moz-box-shadow: inset 0 0 80px rgba(0,0,0,.6);
						-webkit-box-shadow: inset 0 0 80px rgba(0,0,0,.6);
					}

				}//img
			}//carousel-item
		}//carousel-inner
}//myCarousel

//=====================
//	ANIMATED HEADING
// ====================
main {

				.slide-heading{
					.carousel-caption { //margin-bottom: 5em;
						h1{
								@include picture_font_style;
								font-size: 40px;
								font-weight: bold;
						}//h1
						.slider-paragraph{
										font-size: 20px;
										font-weight: bold;
										@include picture_font_style;
						}//slider-paragraph
					}//carousel-caption
				}//slide-heading
		.carousel-control-next { z-index: 1;
														// @include right_side_fade_to_black;
													}
		.carousel-control-prev { z-index: 1;
														// @include left_side_fade_to_black;
													}
		#animated-heading	{
							position: absolute;
							top:400px;
							width:100%;
							@include picture_font_style;

				.clip{	margin:0 auto;
								font-size: 120px;

							.blc{	display: inline-block;
										padding-bottom: 5px;
										padding: .2em 0;
							}
							.cd-words-wrapper {
																	display: inline-block;
																	position:relative;
																	text-align:left;
																	overflow: hidden;
																	vertical-align:top;
																	padding: .2em 0;

													b {	display: inline-block;
															position:absolute;
															white-space: nowrap;
															left:0;
															top:0;
															opacity: 0;
															padding-bottom: 5px;
														}
								 .is-visible{	position: relative;
															opacity: 1;
															font-weight: bold;
									}
						}//cd-words-wrapper
			}//clip
		}//#animated-heading
}//main
/*====================================
		CAROUSEL BUTTON STYLE
===================================*/
#button_group_id{
				padding: 15px 0;
				background-color: $clr-grey-50;
					.btn{
						@include box_shadow_black;
						margin:0 7.5px;
						height: 120px;
						background-color: $clr-grey-900;
						padding:0;
						border:none;
						color: $clr-grey-100;
						font-size: 70px;
						.btn-icon{
							width:25%;
							height:100%;
							.fa{
								@include box_shadow_inset(black);
							}
						}
						.triangle{

						}
						span{
							@include font-size(40px);
							font-weight: 600;
							position:absolute;
							top:30px;
							left:40%;
						}
						&:hover{
							.btn-icon{
								@include animate(all, 500ms);
								width:85%;
								i{
									// @include font-size(100px);
								}
							}
							.triangle{
								@include animate(all, 500ms);
								left:85%;
							}
							span{
								@include animate(all, 200ms);
								opacity:0;
							}
						}
					}//btn

					.need-help-btn{
						.btn-icon{
							background-color: $clr-orange;//#F29228;
						}
						.triangle{
							@include triangle('right', 3.75rem, $clr-orange);//#F29228);
							position:absolute;
							top: 0%;
							left:25%;
						}
					}//need-help-btn
					.volunteer-btn{
						.btn-icon{
							background-color: $clr-light-blue;//#89C4F3;
						}
						.triangle{
							@include triangle('right', 3.75rem,$clr-light-blue);// #89C4F3);
							position:absolute;
							top: 0%;
							left:25%;
						}
					}//volunteer-btn
					.donate-btn{
						.btn-icon{
							background-color: $clr-lime;//#A9CF33;
						}
						.triangle{
							@include triangle('right', 3.75rem, $clr-lime);//#A9CF33);
							position:absolute;
							top: 0%;
							left:25%;
						}
					}//donate-btn
					.wishlists-btn{
						.btn-icon{
							background-color: $clr-yellow;//#F8E620;
						}
						.triangle{
							@include triangle('right', 3.75rem, $clr-yellow);//#F8E620);
							position:absolute;
							top: 0%;
							left:25%;
						}
					}//wishlists-btn
		}//#button_group_id

/*====================================
		TITLE COMPONENT STYLING
===================================*/
.title-conponent {
			text-align: center;
			margin-top: 150px;

		.title-row {
				.title {
					margin: 0 50px;

					h1{
						color:$clr-ui-title;
						text-align: center;
						font-size: 80px;
						font-weight:300;
						}
					}
			.separator {
				background: url('../img/header-bg.png') repeat-x center;
				padding: 0;
			}
		}//.row
		.description {	color:$clr-ui-display-4;
										font-size: 25px;
										font-weight: 600;
										margin: 10px 40px;
		}
}//title-component


//=====================
//	IMPACT BOXES HOME PAGE
// ====================
.impact-boxes{  margin-top:50px;
                  padding: 5em 15em;
                  background: $clr-grey-100;

      .item{ text-align: center;

          .icon { font-size:200px;
                  color: $icon_color;
          }
          .title-of-box{
													color:$clr-ui-title;
													font-weight: 400;
                          font-size:60px;
                          padding: 5px 0;
                          margin: 15px 0;
          }//title-of-box
          .description-of-box{  font-size:25px;
                                font-weight: 500;
                                color:$clr-ui-display-4;
          }//description-of-box
      }//item
  }//impact-boxes

//=====================
//	FEATURED BOXES HOME PAGE
// ====================
.featured-contents{ padding: 60px 100px;
                  margin: 50px 0;
                  background-color:$clr-grey-100;

    article.single-post{
				padding:20px 20px 0 20px;
				height:auto;

      .post-image{
        position: relative;
        height: 500px;//height of picture needs to change in smaller screens
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        box-shadow: inset 0px 0px 150px 15px rgba(0,0,0,0.8);
				.post-header{
											width: 100%;
											height:130px;
											position:absolute;
											left:0;
											right:0;
											bottom:0;
											background-color: rgba(0, 0, 0, 0.35);
											text-align: center;
									a.featured-post-type{
											font-size:90px;
											font-weight: 300;
											@include picture_font_style;
											transition: .3s;
											&:hover{
												text-decoration: none;
												color:$font_hover_color;
												opacity:1;
											}

										}
						}//post-header
      }//post-image
      .post-content{
				padding-left:30px;
				margin-bottom: 30px;
						.featured-content{
							padding-top:20px;
							height:300px;
							overflow:auto;
							.post-title{
														text-decoration: none;
														font-style: italic;
														font-weight: 300;
														font-size:45px;

									a{  text-decoration: none;
											color:black;
											transition: .5;
											&:hover{  color:$font_hover_color;
											}
									}//a
							}//post-title
						}//featured-content

        		p{
          		font-size: 20px;
          		color:$clr-ui-display-1;
        		}//p
						.post-title{
													text-decoration: none;
													font-style: italic;
													font-weight: 300;
													font-size:45px;

								a{  text-decoration: none;
										color:black;
										transition: .5;
										&:hover{  color:$font_hover_color;
										}
								}//a
						}//post-title
			  }//post-content
			}//single-post
			.featured-content-btn{
				margin-top:20px;
			}
}//featured-contents

// ====================
// NEWSLETTER COMPONENT HOME PAGE
// ====================
.newsletter{
        margin: 5em 0;
        padding: 0;

  .newsletter-content{

    .newsletter-title{
			height:400px;
      color:$paragraph_font_color;
      background-color: $clr-grey-50;
      text-align: center;
      padding:30px 10px;
      .fa-newspaper-o{
						color:$icon_color;
            font-size: 90px;
      }
      h1{
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    	}
    }//newsletter-title
    .newsletter-triangle-title{
			//height:400px;
			background-color:$clr-blue;
      @include triangle('right', 200px, $clr-grey-50);
    }
    .newsletter-email{
			height:400px;
      padding: 5% 2%;
      text-align: left;
			background-color: $clr-blue;
      color: rgb(248,248,248);
    }//info
    .newsletter-triangle-email{
      background-color: $icon_color;
      @include triangle('right', 200px, $clr-blue);
    }
    .submit{  background-color: $icon_color;
              color:rgb(248,248,248);
              padding: 70px;

      .btn{ //background-color: rgb(248,248,248);
            //color: $paragraph_font_color;
            //font-weight:600;
            width: 50%;
      }
    }//submit
  }//newsletter-content
}//newsletter
