@import "mixins";
@import "color_pallete";
@import "variables";
@import "content-banner";
@import "blog-page";
@import "blog-sidebar";
@import "news-page";
@import "calendar-style";
@import "team_board_pages";
@import "contact-us";
@import "our_history";
@import "single-post";
@import "hope-for-humanity";
@import "donate-funds";
@import "funds-page";
@import "donation.pages";

// TODO: create styling for responsive design

//adds a 30px to the top of the navbar when we are logged in in wordpress
// so the wordpress dashboard doesnt oberlay with the website navbar
//====================================
// .logged-in {
// 	.navbar{
// 		top: 30px;}
// }


//sets font and margins as a start default value for overall website
//===================================
body{
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
}
//===================================

// ====================
// HEADER STYLING
// ====================
nav {
	 @include header_footer_background;
	  height: 10vh;
}
.navbar-nav{
	.menu-item{
		.nav-link{//navbar menu page links
			color:$clr-grey-50;
			opacity: .5;
			font-weight: bolder;
			font-size: 20px;
			cursor: pointer;
			transition: 500ms;
			&:hover{
				color:$clr-grey-50;
				opacity: 1;
			}
		}//nav-link
	}//nav-item
}//navbar-nav


// ====================
// FOOTER STYLING
// ====================
footer{
	@include header_footer_background;
	padding: 10px;
	padding-top:50px;
	.ul-container{
		padding:0;
		margin:0 auto;
	}
	.menu{
		// margin:0 40px;
		padding:0;
		text-align: center;
		.menu-item-type-custom{
			display: inline-block;
			text-align: left;
			vertical-align: top;
			margin: 0 50px;
			a{
				color:$clr-grey-50;
				display:inline-block;
				margin-bottom: 20px;
				text-decoration: none;
				font-size: 20px;
				font-weight:bold;
				&:after{	display: block;
									content: url('../img/separa_34.png');
									width:100%;
									margin-top: 2px;}
			}
		}
		.sub-menu {
			padding: 0;
			.menu-item-type-post_type{
							display: flex;
							a {
									margin: 0;
									font-size:15px;
									font-weight:normal;
									transition: .5s;
									opacity:.5;
									&:hover {	opacity: 1;
														transition: all .3s ease-in-out;}
									&:after{	content: none;}
								}
							}
						}
				}
		.contact-us{
							padding: 0;
							margin:0 auto;
							color: $clr-grey-100;
							margin-top: 10px;
							display: block;
		.contact-us-container{
						padding: 0;
						margin:0 auto;
						height:auto;

				.footer-contact-us-col{
					padding: 0 50px;
					&:first-child{
						border-right: 1px solid rgba(255, 255, 255, .2);
					}
					&:last-child {
						border-left: 1px solid rgba(255, 255, 255, .2);
					}
				}//col
		}//contact-us-container
		h3{
				font-size:20px;
				font-weight:bold;
				padding:0 50px;
				&:after{
									display: block;
									content: url('../img/separa_34.png');
								}
			}
		.contact-info{
			text-align: center;
				.espacio-ico-01{	opacity:1;
													font-weight:normal;
													font-size: 18px;
												}
				a{	text-decoration: none;
						color: inherit;
						opacity:.5;
						font-style: italic;
						float: right;
						font-size: 15px;
						transition: .5s;
						&:hover{
							opacity:1;
						}
					}
					span{	opacity:.5;
								float:left;
								font-size: 15px;
							}//span
				}//contact-info

				.social-media{	text-align: center;
												color:  rgba(255,255,255,0.4);
												margin: 50px auto;
						h5.social-media-title{
							text-align: center;
						}
						a{	font-size:30px;
								width:50px;
								height: 50px;
								line-height: 50px;
								display: inline-block;
								text-align: center;
								border-radius: 100%;
								margin: 3px;
								box-shadow:0 0 0 1px rgba(255,255,255,.5);
								color: rgba(255,255,255,0.4);
								&:hover{	box-shadow:0 0 0 1px rgba(255,255,255,.8);
													color: rgba(255,255,255, 1);
													text-shadow: 0 0 0 1px rgba(255,255,255,0.4);}
							}//a
				}//social-media
		.copyright{
								font-size: 15px;
								text-align: center;
								font-weight: bold;
								margin-top: 10px;
								opacity: .5;
		}//copyright
		.footer-logo{	text-align: center;
		}//footer-logo
	}//contact-us
}//footer
//=====================
//	CAROUSEL STYLE
// ====================
#myCarousel{
		position: relative;
		top:10vh;
		height: 90vh;
		// margin-bottom: 400px;//size might differ from screen size
		.carousel-inner{
				height:80vh;
			.carousel-item{
				height: inherit;
				display: block;
				opacity: 0;
				transition: opacity .9s ease-in-out;
				&.active {
					opacity: 1 !important;
					}
				img{
					position:relative;
					min-width:100vw;
					height:inherit;
					&:before{
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						box-shadow: inset 0 0 80px rgba(0,0,0,.6);
						-moz-box-shadow: inset 0 0 80px rgba(0,0,0,.6);
						-webkit-box-shadow: inset 0 0 80px rgba(0,0,0,.6);
					}
				}//img
			}//carousel-item
		}//carousel-inner
}//myCarousel

//=====================
//	ANIMATED HEADING
// ====================
main {
			.slider-heading{
				width:100%;
				height:80vh;
				position:absolute;
				top:0;
					.carousel-caption {
						position:absolute;
						top:35vh;
						.animated-heading-underline {
							width: 30vw;
							background-color: rgba(255, 255, 255, 0.5);
							height:.5vh;
							margin:0 auto;
						}
						.slider-paragraph{
										padding-top: 2vh;
										font-size: 35px;
										font-weight:300;
										@include picture_font_style;
						}//slider-paragraph
					}//carousel-caption
				}//slide-heading
		.carousel-control-next { z-index: 1;
														width:5vw;
														height:80vh;
														// @include right_side_fade_to_black;
													}
		.carousel-control-prev { z-index: 1;
														width:5vw;
														height:80vh;
														// @include left_side_fade_to_black;
													}
		#animated-heading	{
			position: absolute;
			top:15vh;
			width:100%;
			@include picture_font_style;

				.clip{
					margin:0 auto;
					font-size: 100px;
					@include bp-large{
						font-size: 100px;
					}
					@include bp-medium{
						font-size: 40px;
					}
					.blc{
						display: inline-block;
						padding-bottom: 5px;
						padding: .2em 0;
					}

					.cd-words-wrapper {
						display: inline-block;
						position:relative;
						text-align:left;
						overflow: hidden;
						vertical-align:top;
						padding: .2em 0;

						b {
							display: inline-block;
							position:absolute;
							white-space: nowrap;
							left:0;
							top:0;
							opacity: 0;
							padding-bottom: 5px;
							}

							.is-visible{
								position: relative;
								opacity: 1;
								font-weight: bold;
							}
						}//cd-words-wrapper
					}//clip
				}//#animated-heading
			}//main

/*====================================
		CAROUSEL BUTTON STYLE
===================================*/
#button_group_id{
				height: 10vh;
				width:100%;
				background-color: $clr-grey-900;
				text-align: center;
				position: relative;
					.btn{
						position:relative;
						margin:0 .5vw;
						margin-bottom: .5vw;
						width:22vw;
						height:inherit;
						text-align: center;
						border-radius: 10px;
						background-color: black;
						padding:0;
						border:none;
						color: $clr-grey-700;
						font-size: 60px;

						.btn-icon{
							text-align: center;
							position: absolute;
							top:0;
							left:0;
							width: 0;
							height: 0;
							border-style: solid;
							border-top-left-radius: 5px;
							border-width: 0 0 3vw 3vw;
							border-color: transparent transparent black transparent;
							display: inline-block;
							float: left;
							.fa{
								@include box_shadow_inset(black);
								font-size:60px;
								opacity:0
							}
						}
						span{
							font-size:50px;
							font-weight: 600;
						}
						// transition: .5s;
						@include animate(all, 500ms);
						&:hover{
							.btn-icon{
							@include animate(all, 500ms);
								width:5vw;
								height:100%;
								border:none;
								border-radius: 100%;
								border-top-left-radius: 10px;
								i{
									transition: .5s;
									opacity:1;
								}
							}
							span{


							}
						}
					}//btn

					.need-help-btn{
						.btn-icon{
							background-color: $clr-orange;//#F29228;
						}
						&:hover{
							@include animate(all, 500ms);
							color:$clr-orange;
						}
					}//need-help-btn
					.volunteer-btn{
						.btn-icon{
							background-color: $clr-light-blue;//#89C4F3;
						}
						&:hover{
							@include animate(all, 500ms);
							color:$clr-light-blue;
						}
					}//volunteer-btn
					.donate-btn{
						.btn-icon{
							background-color: $clr-lime;//#A9CF33;
						}
						&:hover{
							@include animate(all, 500ms);
							color:$clr-lime;
						}
					}//donate-btn
					.wishlists-btn{
						.btn-icon{
							background-color: $clr-yellow;//#F8E620;
						}
						&:hover{
							@include animate(all, 500ms);
							color:$clr-yellow;
						}
					}//wishlists-btn
		}//#button_group_id

/*====================================
		TITLE COMPONENT STYLING
===================================*/
.title-conponent {
			text-align: center;
			margin: 10vh 0;

		.title-row {

				.title {

					h1{
						color:$clr-ui-title;
						text-align: center;
						font-size: 80px;
						font-weight:300;
						text-transform: uppercase;
						margin: 0 10vw;
						}
					}

			.separator {
				background: url('../img/header-bg.png') repeat-x center;
				padding: 0;
			}
		}//.row

		.description {
			color:$clr-ui-display-4;
			font-size: 25px;
			font-weight: 600;
		}
}//title-component


//=====================
//	IMPACT BOXES HOME PAGE
// ====================
.impact-boxes{
  padding: 2% 5%;
	padding-top:5%;
  background: $clr-grey-100;

	.item{
		text-align: center;

		.icon {
			font-size:200px;
      color: $icon_color;
		}
    .title-of-box{
			color:$clr-ui-title;
			font-weight: 400;
      font-size:60px;
      padding: 1% 0;
      margin: 2% 0;
		}//title-of-box

		.description-of-box{
			font-size:22px;
      font-weight: 500;
      color:$clr-ui-display-4;
		}//description-of-box
	}//item
}//impact-boxes

//=====================
//	FEATURED BOXES HOME PAGE
// ====================
.featured-contents{
	padding: 2% 1vw;
  background-color:$clr-grey-100;

	article.single-post{
		padding:.5vw 1vw;
		height:auto;

	.post-image{
    position: relative;
    height: 24vw;//height of picture needs to change in smaller screens
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: inset 0px 0px 150px 15px rgba(0,0,0,0.8);

		.post-header{
			width: 100%;
			height:20%;
			position:absolute;
			left:0;
			right:0;
			bottom:0;
			background-color: rgba(0, 0, 0, 0.35);
			text-align: center;

			a.featured-post-type{
				font-size:60px;
				font-weight: 300;
				@include picture_font_style;
				transition: .3s;
				&:hover{
					text-decoration: none;
					color:$font_hover_color;
					opacity:1;
				}
			}
		}//post-header
	}//post-image
      .post-content{
				padding-left:2em;
				margin-bottom: 3em;
						.featured-content{
							padding-top:2em;
							height:40vh;

							a{
								  text-decoration: none;
									color:black;
									transition: .5;
									&:hover{  color:$font_hover_color;
									}
								}
						}//featured-content

        		p{
							overflow: auto;
							height:100%;
							width:100%;
          		font-size: 22px;
          		color:$clr-ui-display-1;
        		}//p
						.post-title{
													text-decoration: none;
													font-style: italic;
													font-weight: 300;
													font-size:40px;

								a{  text-decoration: none;
										color:black;
										transition: .5;
										&:hover{  color:$font_hover_color;
										}
								}//a
						}//post-title
			  }//post-content
			}//single-post
			.featured-content-btn{
				margin-top:2vh;
			}
}//featured-contents

// ====================
// NEWSLETTER COMPONENT HOME PAGE
// ====================
.newsletter{
        margin-bottom: 5vh;
        padding: 0;

  .newsletter-content{

    .newsletter-title{
			height:50vh;
      color:$paragraph_font_color;
      background-color: $clr-grey-50;
      text-align: center;

      .fa-newspaper-o{
						color:$icon_color;
            font-size: $icon_font;
      }
      h1{
				line-height: 1em;
        font-weight: 400;
        font-size: $h1_title;
        text-align: center;
    	}
    }//newsletter-title
    .newsletter-triangle-title{
			background-color:$clr-blue;
      @include triangle('right', 25vh, $clr-grey-50);
    }
    .newsletter-email{
			height:50vh;
      text-align: left;
			background-color: $clr-blue;
      color: rgb(248,248,248);
			label.email-form {
				margin: 0 auto;
				margin-top:40%;
				h3{
					font-size: $h2_subtitle;
				}
			}
    }//info
    .newsletter-triangle-email{
      background-color: $icon_color;
      @include triangle('right', 25vh, $clr-blue);
    }
    div.submit{
			background-color: $icon_color;
      color:rgb(248,248,248);
			text-align: left;
			ul.submit-checklist{
				margin:auto;
				margin-top:40%;
				li{
					margin-left:25%;
				}
			}
			h3.newsletter-submit-title{
				font-size: $h2_subtitle;
			}
			input.form-check-input{
				font-size:$h3_description;
			}

      .btn{ //background-color: rgb(248,248,248);
            //color: $paragraph_font_color;
            //font-weight:600;
            width: 60%;
						margin: 5% 20%;
      }
    }//submit
  }//newsletter-content
}//newsletter


//boost page css
div.tab-pane {
	width:100%;
	div.tab-image{
		height:200px;
	}
}
