@import "mixins";
@import "color_pallete";
@import "variables";
@import "featured-boxes";
@import "newsletter-component";
@import "content-banner";
@import "blog-page";
@import "blog-sidebar";
@import "single-blog";
@import "news-page";
@import "calendar-style";
@import "our-team";
@import "contact-us";
@import "about-us";

// TODO: create styling for responsive design

//adds a 30px to the top of the navbar when we are logged in in wordpress
// so the wordpress dashboard doesnt oberlay with the website navbar
.logged-in {
	.navbar{
		top: 30px;}
}
body{
	font-family: 'Roboto', sans-serif;
}


// ====================
// HEADER STYLING
// ====================
nav {
	 @include header_footer_background;
	  height: 100px;
}
.navbar-nav{
	.menu-item{
		.nav-link{//navbar menu page links
			color:$clr-grey-50;
			opacity: .5;
			font-weight: bolder;
			font-size: 20px;
			cursor: pointer;
			transition: 500ms;
			&:hover{
				color:$clr-grey-50;
				opacity: 1;
			}
		}
	}
}


// ====================
// FOOTER STYLING
// ====================
.social-media{	text-align: center;
								color:  rgba(255,255,255,0.4);
								margin: 20px auto;
		a{	font-size:30px;
				width:50px;
				height: 50px;
				line-height: 50px;
				display: inline-block;
				text-align: center;
				border-radius: 100%;
				margin: 3px;
				box-shadow:0 0 0 1px rgba(255,255,255,.5);
				color: rgba(255,255,255,0.4);
				&:hover{	box-shadow:0 0 0 1px rgba(255,255,255,.8);
									color: rgba(255,255,255, 1);
									text-shadow: 0 0 0 1px rgba(255,255,255,0.4);}
			}//a
}//social-media
footer{
	@include header_footer_background;
	padding: 10px;
	padding-top:50px;
	.ul-container{
		padding:0;
		margin:0 auto;
	}
	.menu{
		// margin:0 40px;
		padding:0;
		text-align: center;
		.menu-item-type-custom{
			display: inline-block;
			text-align: left;
			vertical-align: top;
			margin: 0 50px;
			a{
				color:$clr-grey-50;
				display:inline-block;
				margin-bottom: 20px;
				text-decoration: none;
				font-size: 20px;
				font-weight:bold;
				&:after{	display: block;
									content: url('../img/separa_34.png');
									width:100%;
									margin-top: 2px;}
			}
		}
		.sub-menu {
			padding: 0;
			.menu-item-type-post_type{
							display: flex;
							a {
									margin: 0;
									font-size:15px;
									font-weight:normal;
									transition: .5s;
									opacity:.5;
									&:hover {	opacity: 1;
														transition: all .3s ease-in-out;}
									&:after{	content: none;}
								}
							}
						}
				}
		.contact-us{
							padding: 0;
							margin:0 auto;
							color: $clr-grey-100;
							margin-top: 10px;
							display: block;
		.row {	padding: 0;
						margin:0;

				.col {	padding: 0 50px;
								&:first-child{ border-right: 1px solid rgba(255, 255, 255, .2);}
								&:last-child {border-left: 1px solid rgba(255, 255, 255, .2);}
				}//col
		}//row
		h3{	color:;
				font-size:20px;
				font-weight:bold;
				padding:0 50px;
				&:after{
									display: block;
									content: url('../img/separa_34.png');
								}
			}
		.contact-info{
			text-align: center;
				.espacio-ico-01{	opacity:1;
													font-weight:normal;
													font-size: 18px;
												}
				a{	text-decoration: none;
						color: inherit;
						opacity:.5;
						font-style: italic;
						float: right;
						font-size: 15px;
						transition: .5s;
						&:hover{
							opacity:1;
						}
					}
					span{	opacity:.5;
								float:left;
								font-size: 15px;
							}//span
				}//contact-info
		.copyright{
								font-size: 15px;
								text-align: center;
								font-weight: bold;
								margin-top: 10px;
								opacity: .5;
		}//copyright
		.footer-logo{	text-align: center;
		}//footer-logo
	}//contact-us
}//footer
//=====================
//	CAROUSEL STYLE
// ====================
#myCarousel{
	position: relative;
		top:95px;
		height: 80vh;
		.carousel-inner{
			height:inherit;
			.carousel-item{
				height: inherit;
				display: block;
				opacity: 0;
				transition: opacity .9s ease-in-out;
				&.active {	opacity: 1 !important;}

				.wp-post-image{
					min-width:100%;
					height:inherit;
				}
			}
		}
}
//=====================
//	ANIMATED HEADING
// ====================
main {

				.slide-heading{
					.carousel-caption { //margin-bottom: 5em;
						h1{
								@include picture_font_style;
								font-size: 40px;
								font-weight: bold;
						}//h1
						.slider-paragraph{
										font-size: 20px;
										font-weight: bold;
										@include picture_font_style;
						}//slider-paragraph
					}//carousel-caption
				}//slide-heading
		.carousel-control-next { z-index: 1;
														// @include right_side_fade_to_black;
}
		.carousel-control-prev { z-index: 1;
														// @include left_side_fade_to_black;
													}
		#animated-heading	{
							position: absolute;
							top:400px;
							width:100%;
							@include picture_font_style;

				.clip{	margin:0 auto;
								font-size: 120px;

							.blc{	display: inline-block;
										padding-bottom: 5px;
										padding: .2em 0;
							}
							.cd-words-wrapper {
																	display: inline-block;
																	position:relative;
																	text-align:left;
																	overflow: hidden;
																	vertical-align:top;
																	padding: .2em 0;

													b {	display: inline-block;
															position:absolute;
															white-space: nowrap;
															left:0;
															top:0;
															opacity: 0;
															padding-bottom: 5px;
									}
								 .is-visible{	position: relative;
															opacity: 1;
															font-weight: bold;
									}
						}
			}//clip
		}//#animated-heading

/*====================================
		CAROUSEL BUTTON STYLE
===================================*/
#button_group_id{
				padding: 15px 0;
				background-color: $clr-grey-50;
					.btn{
						@include box_shadow_black;
						margin:0 7.5px;
						height: 120px;
						background-color: $clr-grey-900;
						padding:0;
						border:none;
						color: $clr-grey-100;
						font-size: 70px;
						.btn-icon{
							width:25%;
							height:100%;
							.fa{
								@include box_shadow_inset(black);
							}
						}
						.triangle{

						}
						span{
							@include font-size(40px);
							font-weight: 600;
							position:absolute;
							top:30px;
							left:40%;
						}
						&:hover{
							.btn-icon{
								@include animate(all, 500ms);
								width:85%;
								i{
									// @include font-size(100px);
								}
							}
							.triangle{
								@include animate(all, 500ms);
								left:85%;
							}
							span{
								@include animate(all, 200ms);
								opacity:0;
							}
						}
					}

					.need-help-btn{
						.btn-icon{
							background-color: #F29228;
						}
						.triangle{
							@include triangle('right', 3.75rem, #F29228);
							position:absolute;
							top: 0%;
							left:25%;
						}
					}
					.volunteer-btn{
						.btn-icon{
							background-color: #89C4F3;
						}
						.triangle{
							@include triangle('right', 3.75rem, #89C4F3);
							position:absolute;
							top: 0%;
							left:25%;
						}
					}
					.donate-btn{
						.btn-icon{
							background-color: #A9CF33;
						}
						.triangle{
							@include triangle('right', 3.75rem, #A9CF33);
							position:absolute;
							top: 0%;
							left:25%;
						}
					}
					.wishlists-btn{
						.btn-icon{
							background-color: #F8E620;
						}
						.triangle{
							@include triangle('right', 3.75rem, #F8E620);
							position:absolute;
							top: 0%;
							left:25%;
						}
					}
			//}//.btn-group
		}//#button_group_id

/*====================================
		TITLE COMPONENT STYLING
===================================*/
.title-conponent {
			text-align: center;
			// margin-top: 150px;

		.title-row {
				.title {
					margin: 0 50px;

					h1{
						text-align: center;
						font-weight: 600;
						font-size: 60px;
						}
					}
			.separator {
				background: url('../img/header-bg.png') repeat-x center;
				padding: 0;
			}
		}//.row
		.description {	color:$paragraph_font_color;
										font-size: 15pt;
										font-weight: 600;
										margin: 10px 20px;
		}
}//title-component
}
